# List
- Lists are used to store multiple items in a single variable.
- Lists are built-in data types in Python used to store collections of data
- Lists are created using square brackets [ ]
- List items are ordered, changeable, and allow duplicate values.
- List items are indexed, the first item has index [0], the second item has index [1] etc.

In [1]:
# ( )  <-- 小括號 tuple
# [ ]  <-- 中括號 list, set
# { }  <-- 大括號 dictionary

# list object create
lst = []
print( lst, type(lst) )

[] <class 'list'>

#### 使用 list() 類別建立空的 list

In [2]:
lst = list( )
print( lst, type(lst) )

[] <class 'list'>

#### 使用既有資料建立 list 物件

In [4]:
# creat list with data
lst1 = [ 'apple', 'asus', 'acer', 'Gigabyte', 21, 41.31 ]
print( lst1, type(lst1) )

['apple', 'asus', 'acer', 'Gigabyte', 21, 41.31] <class 'list'>

#### 使用單一字串建立 list 時注意事項

In [3]:
# creat list using list constructor
lst01 = list( 'apple' ) # 錯誤作法
print( lst01 )

['a', 'p', 'p', 'l', 'e']

In [6]:
data = list( ['apple']) # 正確作法
data

['apple']

#### 使用 list 類別的建構元 `list()` 建立 list 物件

In [7]:
# creat list using list constructor
lst02 = list([ 'apple', 'asus', 38, 49.3 ] ) # 建立時給的是 [ ] 方式的資料
lst03 = [ 'apple', 'asus', 38, 49.3 ] 
print( lst02 )
print( lst03 )

['apple', 'asus', 38, 49.3]
['apple', 'asus', 38, 49.3]

#### 建立 list 物件時使用 tuple 的資料
#### 這種作法也可以想成是將 `tuple` 資料轉換成 list 物件

In [8]:
# creat list using list constructor
lst01 = list( ('apple', 'asus', 'acer', 'Gigabyte' ) ) # 建立時給的是 tuple 方式的資料
print( lst01 )

['apple', 'asus', 'acer', 'Gigabyte']

#### list 裡可以同時放不同資料型態的資料

In [9]:
# creat list with different type of data
lst2 = [ 'apple', 35, 'NTD', 10 ]
print( lst2 )

['apple', 35, 'NTD', 10]

#### list 裡的資料重覆也允許的

In [10]:
# duplicate items in a list
lst3 = [ 'Jack', 'David', 'Jack', 'Jannie', 'Jack' ] #  Jack 出現3次
print( lst3 )

['Jack', 'David', 'Jack', 'Jannie', 'Jack']

#### 使用 `len()` 函式可以取得 list 物件裡的元素個數

In [1]:
# List length
lst3 = [ 'Jack', 'David', 'Jack', 'Jannie', 'Jack' ]
print( len (lst3) ) # 使用 len() 取得 list 長度

5

#### 使用者輸入多個資料後可以使用 `split()` 指令進行切割後建成 list 物件

In [13]:
# input multiple data and save data into a list
# test data:  Jack david jannie kevin 
lst4 = list( input().split() )  # 使用 split() 將輸入的字串分割成多個字串並存入 list

print( f'The length of lst4 is {len(lst4)}')
for item in lst4:
    print( item, end='\t')
print()

The length of lst4 is 4
Jack	david	jannie	kevin

##### Exercise 
input data  23,47,58,99,13,100,88,77,65
output max, min, mean, sum 
ps. Only for loop can be used don't using sum(), max(), min() functions.

In [6]:
# 23;47;58;99;13;100;88;77;65
data = list( map( int, input().split( ';' )))

max_val = data[0]
min_val = data[0]
total = 0
for x in data:
    if x > max_val:
        max_val = x
    if x < min_val:
        min_val = x
    total += x
print( f"max = {max_val}, min = {min_val}, total = {total}, avg = {total/len(data)}" )

max = 100, min = 13, total = 570, avg = 63.333333333333336

#### Access List items (存取 list 裡的物件)

在 Python 中，`list` 是一種序列型的資料容器，允許使用索引來存取其中的元素。Python 提供了一個非常方便的功能，就是可以使用負數作為索引來存取序列的元素。

##### 為什麼 `list` 可以使用負數作為索引？
這是 Python 序列結構的設計之一，當你使用負數索引時，Python 會將其解讀為從序列的尾端開始計數。也就是說，`-1` 表示最後一個元素，`-2` 表示倒數第二個元素，依此類推。

##### 使用負數索引的優點：
1. **<span style="color: blue">方便</span>**：負數索引允許我們輕鬆地存取列表的最後幾個元素，而不需要知道列表的長度。例如，`my_list[-1]` 比 `my_list[len(my_list) - 1]` 更簡單明瞭。

2. **<span style="color: blue">靈活性</span>**：當你在處理未知長度或可變長度的序列時，使用負數索引可以讓你的程式更加靈活。例如，`my_list[-1]` 無論列表長度如何，都能正確返回最後一個元素。

3. **<span style="color: blue">高效</span>**：使用負數索引比計算序列長度（如 `len(my_list) - 1`）更加簡單明瞭，且提高了程式的可讀性。

總結來說，Python 的負數索引功能讓程式員能夠輕鬆存取序列的尾部元素，進而提升程式的<span style="color: brown">可讀性</span>和<span style="color: brown">靈活性</span>。

In [14]:
# Print the first item of the list
# Negative indexing means start from the end
lst5 = [ 'Jack', 'David', 'Jack', 'Jannie' ]
print( lst5[0], lst5[ -1 ], sep='\t%%\t')
print(f"{lst5[-2]}\t {lst5[-3]}")

Jack	%%	Jannie
Jack	 David

##### 使用 `len()` 取得 list 長度再減 1 取得 list 裡最後一個元素

In [2]:
lst5 = [ 'Jack', 'David', 'Jack', 'Jannie' ]
print(lst5[len(lst5)-1])

Jannie

##### 使用 <span style="color: red">負數</span>索引值 `-1` 取得 list裡最後一個元素

In [16]:
lst5 = [ 'Jack', 'David', 'Jack', 'Jannie' ]
print( lst5[ -1 ])

Jannie

##### 取得 list 裡的資料區段

In [3]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[ 1 : -1 ] ) # 1:-1 代表取得 index 1 到倒數第 2個資料

['asus', 'acer']

In [18]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[1: ] ) # 1: 代表取得 index 1 到最後一個資料

['asus', 'acer', 'Gigabyte']

In [19]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[ :2] ) # :2 代表取得 index 0 到 index 1 的資料

['apple', 'asus']

In [4]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[0: : 2] )  # 0: :2 代表取得 index 0 到最後一個資料，間隔為 2

['apple', 'acer']

請以 `range()` 產生一個包含 1, 2, ... 50 的整數放到一個 List 裡, 再用 `[  :  :  ]` 方式去建構成一個 只有 奇數 的新 List

In [8]:
lst001 = list(range( 1, 51))
print( "lst001:\n", lst001 )
lst002 = lst001[0 : : 2]
print( "lst002:\n", lst002 )

lst001:
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
lst002:
 [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [10]:
test = list( range(1, 11))
print( test[-1: : -1] )

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

##### 使用 `sum()` 函式計算 list 裡所有元素的總合，前提是 list 裡所有元素都是可以計算的數字

In [9]:
print( sum( lst002 ) )

625

##### 從 list 物件中反向取出資料

In [27]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[-1:0:-1] ) # -1:0:-1 代表取得 index -1 到 index 1 的資料，間隔為 -1

['Gigabyte', 'acer', 'asus']

In [11]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[-1: :-1] )

['Gigabyte', 'acer', 'asus', 'apple']

### Check if item exists
查找使用者輸入的資料是否存在 list 中，如果存在可以用 list 的 `index()` 函式找出該資料在 list 中的索引值

ps. 注意，當 list 裡有多個與使用者輸入相同的資料時，`index()` 函式只會回傳最先找到相同資料的索引值

In [12]:
lst7 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU', 'FCU', 'FCU') )
txt = input()
if txt in lst7:
    print( f'"{txt}" index is { lst7.index(txt) }' )
else:
    print( f'"{txt}" is not exists in the list')

"FCU" index is 2

## Change List Items
To change the value of a specific item, refer to the index number

In [31]:
# Change the first and third items:
lst8 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU' ) )
print( lst8 )
print( '--' * 3, ' separate line ', '--' * 3)
lst8[ 0 ] = 'FCU'
lst8[ 2 ] = 'NTU'
print( lst8 )

['NTU', 'NCHU', 'FCU', 'NCKU']
------  separate line  ------
['FCU', 'NCHU', 'NTU', 'NCKU']

使用另外一個 list 去更改某一個 list 裡面部份資料

In [32]:
# change a range of item values
lst9 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU' ) )
print( lst9 )
print( '--' * 3, ' separate line ', '--' * 3, '\n')
lst9[ 0 : 3 ] = ['FCU', 'NCHU', 'NTU' ] 

print( lst9 )

['NTU', 'NCHU', 'FCU', 'NCKU']
------  separate line  ------

['FCU', 'NCHU', 'NTU', 'NCKU']

##### 情況: list 裡被選定的資料範圍比要來拿更新的新 list 資料少

In [14]:
# Change the first and second values by replacing it with three new values
lst9 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU' ) )
print( lst9 )
print( '--' * 3, ' separate line ', '--' * 3, '\n')
lst9[ 0 : 2 ] = ['FCU', 'NCHU', 'MIT' ] # lst9 只拿出 0, 1 兩個位置的資料，然後換成 ['FCU', 'NCHU', 'MIT' ]
print( lst9 )

['NTU', 'NCHU', 'FCU', 'NCKU']
------  separate line  ------

['FCU', 'NCHU', 'MIT', 'FCU', 'NCKU']

##### 情況: list 裡被選定的資料範圍比要來拿更新的新 list 資料多

In [15]:
# Change the first to third values by replacing it with two new values
lst9 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU' ) )
print( lst9 )
print( '--' * 3, ' separate line ', '--' * 3, '\n')
lst9[ 0 : 3 ] = ['FCU', 'NCHU' ] # lst9 拿出 0, 1, 2 三個位置的資料，然後換成 ['FCU', 'NCHU' ]
print( lst9 )

['NTU', 'NCHU', 'FCU', 'NCKU']
------  separate line  ------

['FCU', 'NCHU', 'NCKU']

### 插入資料 (Insert items)
- To insert a new list item, without replacing any of the existing values, we can use the insert() method.
- The insert() method inserts an item at the specified index

In [16]:
lst10 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ]
print( lst10, '\n', '- - ' * 6)
lst10.insert( 1, 'MIT' ) # 在 index 1 的位置插入 'MIT'
print( lst10 )

['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'MIT', 'NCHU', 'FCU', 'NCKU']

### 練習題
請用  `while` 迴圈及 list 的 `insert()` 函式讓使用者連續輸入數字 (整數/浮點數)，直到 -999 結束，每輸入一個數字就列出當下 list 裡的資料且 list 裡的資料是由小到大排序好的

In [18]:
data = [ ]
while True:
    value = input('Enter a value: ')
    if value == '-999':
        break
    value = float( value )
    i = 0
    while i < len(data) and data[i] < value:
        i += 1
    if i == len(data):
        data.append(value)
    else:
        data.insert(i, value)
    print( data )

[43.0]
[12.0, 43.0]
[12.0, 43.0, 83.0]
[12.0, 43.0, 83.0, 101.0]
[-9.0, 12.0, 43.0, 83.0, 101.0]
[-9.0, 2.0, 12.0, 43.0, 83.0, 101.0]
[-9.0, 1.0, 2.0, 12.0, 43.0, 83.0, 101.0]
[-9.0, 1.0, 2.0, 3.0, 12.0, 43.0, 83.0, 101.0]

#### list 資料排序

##### 方法 1: 使用 list 的 `sort()` 函式

##### 方法 2: 使用 Python 提供的 `sorted()` 函式

In [27]:
data1 = [8.0, 7.5, 3.1, -8, 199]
data2 = data1.copy() # 複製 data1 到 data2
data3 = data1.copy() # 複製 data1 到 data3
print( f"before sort data1: {data1}") # 顯示排序前的 data1
data1.sort() # 將 data1 由小到大排序
print( f"after sort data1: {data1}") # 顯示排序後的 data1
print( "- - " * 10)
print( f"before sort data2: {data2}") # 顯示排序前的 data2
print( f"after sort data2: {sorted( data2 )}") # 顯示排序後的 data2
print( "- - " * 10)
print( f"before sort data3: {data3}") # 顯示排序前的 data3
data3.sort( reverse=True ) # 將 data3 由大到小排序
print( f"after sort data3: { data2 }") # 顯示排序後的 data2

before sort data1: [8.0, 7.5, 3.1, -8, 199]
after sort data1: [-8, 3.1, 7.5, 8.0, 199]
- - - - - - - - - - - - - - - - - - - -
before sort data2: [8.0, 7.5, 3.1, -8, 199]
after sort data2: [-8, 3.1, 7.5, 8.0, 199]
- - - - - - - - - - - - - - - - - - - -
before sort data3: [8.0, 7.5, 3.1, -8, 199]
after sort data3: [8.0, 7.5, 3.1, -8, 199]

### 在 list 最後方附加新的資料 (Append list item)
使用 list 的 `append()` 函式將新的資料附加到 list 的最後方

In [49]:
lst11 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ]
print( lst11, '\n', '- - ' * 6)
lst11.append( 'MIT' )
print( lst11 )

['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT']

### 擴展 list 的資料 (Extend list)
如果有一個新的 list 要附加到原本的 list 上去不是用 `append()` 函式，使用 `append()' 會變成是將新的 list 變成是原 list 裡的新元素

In [33]:
lst12 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ]
lst13 = [ 45, 67 ]
print( f"lst12: \n{ lst12 }")
print( "- - " * 10)
lst12.append( lst13 ) # 將 lst13 作為一個元素加入 lst12
print( lst12 )

lst12:
['NTU', 'NCHU', 'FCU', 'NCKU']
- - - - - - - - - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', [45, 67]]

In [34]:
lst12 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ]
lst13 = [ 23, 18 ]
print( f"lst12: \n{ lst12 }")
print( "- - " * 10)
lst12.extend( lst13 ) # 將 lst13 的元素加入 lst12
print( lst12 )

lst12:
['NTU', 'NCHU', 'FCU', 'NCKU']
- - - - - - - - - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 23, 18]

### 使用 `extned()` 加入任何可迭代的資料 (Add any iterable)

In [35]:
lst14 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ] # lst14 是一個 list
tup1 =  ( 'MIT', 23 ) # tup1 是一個 tuple
dict1 = { 'name': 'Jack', 'age': 25 } # dict1 是一個 dictionary
print( lst14, '\n', '- - ' * 6)
lst14.extend( tup1 ) # 將 tup1 的元素加入 lst14
print( lst14, '\n', '- - ' * 6)
lst14.extend( dict1 ) # 將 dict1 的 key 加入 lst14
print( lst14, '\n', '- - ' * 6)
lst14.extend( dict1.keys() ) # 將 dict1 的 key 加入 lst14
print( lst14, '\n', '- - ' * 6)
lst14.extend( dict1.values() ) # 將 dict1 的 value 加入 lst14
print( lst14, '\n')

['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT', 23]
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT', 23, 'name', 'age']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT', 23, 'name', 'age', 'name', 'age']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT', 23, 'name', 'age', 'name', 'age', 'Jack', 25]

### 將 list 裡的元素刪除 (Remove list items)
使用 list 的 `remove()` 函式刪除在 list 中的指定的元素

In [13]:
lst15 = [ 'NTU', 'NCHU', 'FCU', 'NCKU', 'NCHU', 'NCHU', 'NCHU' ]
print( lst15, '\n', '- - ' * 6)
lst15.remove( 'NCHU' ) # 移除第一個 'NCHU'
print( lst15, '\n', '- - ' * 6)

['NTU', 'NCHU', 'FCU', 'NCKU', 'NCHU', 'NCHU', 'NCHU']
 - - - - - - - - - - - -
['NTU', 'FCU', 'NCKU', 'NCHU', 'NCHU', 'NCHU']
 - - - - - - - - - - - -

### 使用 list 的 `pop()` 函式針依 list 的索引值刪除指定的資料 (Remove Specified index)

In [39]:
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( lst16, '\n', '- - ' * 6)
lst16.pop(  ) # 未給索引值時移除 list 最後一個元素
print( lst16, '\n', '- - ' * 6)

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'MIT', 'FCU']
 - - - - - - - - - - - -

In [61]:
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( lst16, '\n', '- - ' * 6)
lst16.pop( 2 ) # 移除索引值為 2 的元素
print( lst16, '\n', '- - ' * 6)

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -

#### 使用 `del` 指令刪除指定的 list 元素

In [40]:
# Using   del   to remove an item from the list
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( lst16, '\n', '- - ' * 6)
del lst16[ 2 ] # 移除索引值為 2 的元素 
print( lst16, '\n', '- - ' * 6)

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -

#### 使用 `del` 指令刪除整個 list

In [13]:
# Using   del   to completely delete the list
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( lst16, '\n', '- - ' * 6)
del lst16
print( lst16, '\n', '- - ' * 6)

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
 - - - - - - - - - - - -

NameError: name 'lst16' is not defined

### 清除 list 裡的資料 (Clear the list)
使用 `clear()` 函式清除 list 中的所有資料，但 list 物件仍然保留只是沒有資料

In [14]:
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( f"before clean lst16: \n{ lst16 }")
print( "- - " * 10)
lst16.clear( ) # 清除 lst16 的所有元素
print( f"after clean lst16: \n{ lst16 }" )

before clean lst16:
['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
- - - - - - - - - - - - - - - - - - - -
after clean lst16:
[]

### Looping using list comprehension

- Comprehension翻譯成中文即「理解」或「推導」
- Comprehension 指的是使用簡潔的語法來生成新的資料結構（如列表、字典或集合），這種方法允許在單行程式碼中完成資料的迭代與處理，從而達到「簡潔易讀」的效果
- 更具象的方式來說，Comprehension 這裡的意思是「推導出一個新結果的過程」，從原始資料中通過某種邏輯（比如條件篩選、映射轉換等）推導出一個新的資料結構

In [56]:
lst17 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
for item in lst17: # 逐一取出 lst17 的元素
    print( item, end=", " ) # 印出 lst17 裡的元素資料並以逗號分隔
print()

NTU, NCHU, MIT, FCU, NCKU,

In [15]:
lst17 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( [ x  for x in lst17 ] ) # 使用 list comprehension 顯示 lst17 的所有元素

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']

##### 練習

將某個 lst17 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ] 找出含 C 的元素並將該元素加入到 另外一個 list

In [58]:
# original 
lst17 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst18 = []

for item in lst17: # 逐一取出 lst17 的元素
    if 'C' in item: # 判斷 item 是否包含 'C'
        lst18.append( item ) # 將包含 'C' 的 item 加入 lst18

print( lst18 )

['NCHU', 'FCU', 'NCKU']

#### 使用 list comprehension 達到 上述要求

In [14]:
# using List comprehension
lst17 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst18 = [ item for item in lst17 if 'C' in item ]

print( lst18 )

['NCHU', 'FCU', 'NCKU']

In [78]:
# using List comprehension to generate a list contain value from 1 to 8 
lst19 = [ x for x in range(1, 9) ]
print( lst19 )

[1, 2, 3, 4, 5, 6, 7, 8]

### Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [79]:
lst20 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst21 = [ item.lower() for item in lst20 ]
print( lst21 )

['ntu', 'nchu', 'mit', 'fcu', 'ncku']

In [83]:
# choose item NOT contains 'N' character and make the item as lower case
lst20 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst21 = [ item.lower() for item in lst20 if 'N' not in item]
print( lst21 )

['mit', 'fcu']

In [81]:
# if the item didn't contain N character then make item as lower case
lst20 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst21 = [ item.lower()if 'N' not in item else item for item in lst20 ]
print( lst21 )

['NTU', 'NCHU', 'mit', 'fcu', 'NCKU']

## Customize Sort Function
- You can also customize your own function by using the keyword argument key = function.
- The function will return a number that will be used to sort the list (the lowest number first)

In [92]:
def fun1( v1 ):
    return v1.upper()

lst24 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( lst24, '\n', '- - ' * 6)
lst24.sort( )
print( lst24, '\n', '- - ' * 6)
lst24.sort( key=fun1 )
print( lst24 )

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['Apple', 'Mango', 'Pineapple', 'banana', 'kiwi', 'orange', 'water melon']
 - - - - - - - - - - - -
['Apple', 'banana', 'kiwi', 'Mango', 'orange', 'Pineapple', 'water melon']

### Case Insensitive sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters

In [49]:
lst25 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( lst25, '\n', '- - ' * 6)
lst25.sort( )
print( lst25, '\n', '- - ' * 6)
lst25.sort( key=str.upper )
print( lst25 )

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['Apple', 'Mango', 'Pineapple', 'banana', 'kiwi', 'orange', 'water melon']
 - - - - - - - - - - - -
['Apple', 'banana', 'kiwi', 'Mango', 'orange', 'Pineapple', 'water melon']

### Reverser Order
- The reverse() method reverses the current sorting order of the elements.

In [1]:
lst26 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( lst26, '\n', '- - ' * 6)
lst26.reverse()
print( lst26 )

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['Apple', 'water melon', 'banana', 'Pineapple', 'kiwi', 'Mango', 'orange']

## Copy Lists
- You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.
- There are ways to make a copy, one way is to use the built-in List method copy().

In [4]:
lst27 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
testLst = lst27 
print(lst27)
print(testLst)
testLst[0] = 'Jack'
print(lst27)
print(testLst)

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
['Jack', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
['Jack', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']

In [5]:
lst27 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( lst27, '\n', '- - ' * 6)
lst28 = lst27.copy()
print( lst28,  '\n', '- - ' * 6 )
lst28[1] = 'Mango_1'
print( lst27, '\n', '- - ' * 6)
print( lst28)

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['orange', 'Mango_1', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']

## Join Lists
- There are several ways to join, or concatenate, two or more lists in Python.
- One of the easiest ways are by using the + operator.

In [56]:
lst29 = [ 'x', 'y', 'z' ]
print( lst29 , '\n', '- - ' * 6)

lst30 = [ 21, 24, 15 ]
print( lst30 , '\n', '- - ' * 6)

lst31 = lst29 + lst30
print( lst31, '\n', '- - ' * 6 )
lst31[ 1 ] = 'S'
print( lst29, '\n', '- - ' * 6 )
print( lst30, '\n', '- - ' * 6 )
print( lst31, '\n', '- - ' * 6 )

['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z', 21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'S', 'z', 21, 24, 15]
 - - - - - - - - - - - -

In [6]:
lst29 = [ 'x', 'y', 'z' ]
print( lst29 , '\n', '- - ' * 6)

lst30 = [ 21, 24, 15 ]
print( lst30 , '\n', '- - ' * 6)

lst29.append( lst30 )
print( lst29 )

['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z', [21, 24, 15]]

In [8]:
lst29 = [ 'x', 'y', 'z' ]
print( lst29 , '\n', '- - ' * 6)

lst30 = [ 21, 24, 15 ]
print( lst30 , '\n', '- - ' * 6)

for item in lst30:
    lst29.append( item )
    
print( lst29 )

['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z', 21, 24, 15]

In [57]:
lst29 = [ 'x', 'y', 'z' ]
print( lst29 , '\n', '- - ' * 6)

lst30 = [ 21, 24, 15 ]
print( lst30 , '\n', '- - ' * 6)

lst29.extend( lst30 )
print( lst29 )

['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z', 21, 24, 15]

### count() function
Returns the number of elements with the specified value

In [61]:
lst32 = ['Apple', "orange", 'Apple', "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( len( lst32 ))
print( lst32.count( 'Apple' ))

9
3

## zip()
- The `zip()` function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.
- If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [8]:
lst33 = [ 1, 2, 3]
lst34 = [ 'a', 'b', 'c']
lst35 = [ 'x', 'y', 'z']
x = zip( lst33, lst34, lst35 )
for y, z, r in x:
    print( y, z, r )

1 a x
2 b y
3 c z