# List
- Lists are used to store multiple items in a single variable.
- Lists are built-in data types in Python used to store collections of data
- Lists are created using square brackets [ ]
- List items are ordered, changeable, and allow duplicate values.
- List items are indexed, the first item has index [0], the second item has index [1] etc.

In [2]:
# ( )  <-- 小括號 tuple
# [ ]  <-- 中括號 list, set
# { }  <-- 大括號 dictionary

# list object create
lst = []
print( lst, type(lst) )

[] <class 'list'>

In [3]:
# list object create
lst = list( )
print( lst, type(lst) )

[] <class 'list'>

In [4]:
# creat list with data
lst1 = [ 'apple', 'asus', 'acer', 'Gigabyte', 21, 41.31 ]
print( lst1, type(lst1) )

['apple', 'asus', 'acer', 'Gigabyte', 21, 41.31] <class 'list'>

In [5]:
# creat list using list constructor
# lst01 = list( 'apple', 'asus', 'acer', 'Gigabyte'  )
lst01 = list( 'apple' )
print( lst01 )

['a', 'p', 'p', 'l', 'e']

In [6]:
data = list( ['apple'])
data

['apple']

In [7]:
# creat list using list constructor
lst02 = list([ 'apple', 'asus', 38, 49.3 ] )
lst03 = [ 'apple', 'asus', 38, 49.3 ] 
print( lst02 )
print( lst03 )

['apple', 'asus', 38, 49.3]
['apple', 'asus', 38, 49.3]

In [8]:
# creat list using list constructor
lst01 = list( ('apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst01 )

['apple', 'asus', 'acer', 'Gigabyte']

In [9]:
# creat list with different type of data
lst2 = [ 'apple', 35, 'NTD', 10 ]
print( lst2 )

['apple', 35, 'NTD', 10]

In [10]:
# duplicate items in a list
lst3 = [ 'Jack', 'David', 'Jack', 'Jannie', 'Jack' ]
print( lst3 )

['Jack', 'David', 'Jack', 'Jannie', 'Jack']

In [11]:
# List length
lst3 = [ 'Jack', 'David', 'Jack', 'Jannie', 'Jack' ]
print( len (lst3) ) # length

5

In [13]:
# input multiple data and save data into a list
# show the length of the list
lst4 = list( input().split() )   
#lst4 = list( 'Jack david jannie kevin' )
print( f'The length of lst4 is {len(lst4)}')
for item in lst4:
    print( item, end='\t')
print()

The length of lst4 is 4
Jack	david	jannie	kevin

## Access List items
List items are indexed and you can access them by referring to the index number

In [14]:
# Print the first item of the list
# Negative indexing means start from the end
lst5 = [ 'Jack', 'David', 'Jack', 'Jannie' ]
print( lst5[0], lst5[ -1 ], sep='\t%%\t')
print(f"{lst5[-2]}\t {lst5[-3]}")

Jack	%%	Jannie
Jack	 David

In [15]:
print(lst5[len(lst5)-1])

Jannie

In [16]:
print( lst5[ -1 ])

Jannie

In [17]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[1:-1] )

['asus', 'acer']

In [18]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[1: ] )

['asus', 'acer', 'Gigabyte']

In [19]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[ :2] )

['apple', 'asus']

In [20]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[0: : 2] )  # 0, 2, 4, ....
# [ start : end : step ]

# 請同學 以 range() 產生一個包含 1, 2, ... 50 的整數放到一個 List 裡
# 再用 [  :  :  ] 方式去建構成一個 只有 奇數 的新 List

['apple', 'acer']

In [21]:
lst001 = list(range( 1, 51, 2))
lst001

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [22]:
lst002 = lst001[0 : : 2]
lst002

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49]

In [23]:
print( sum( lst002 ) )

325

In [25]:
n, m = map( int, input().split() )
if n % 2 == 0:
    n += 1
lst003 = list( range( n, m+1, 2 ) )
print( sum( lst003 ) )
# 1 3 5 7 9

25

In [27]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[-1:0:-1] )

['Gigabyte', 'acer', 'asus']

In [28]:
# Range of indexes
lst6 = list( ( 'apple', 'asus', 'acer', 'Gigabyte' ) )
print( lst6[-1: :-1] )

['Gigabyte', 'acer', 'asus', 'apple']

### Check if item exists
To determine if a specified item is present in a list use the in keyword:

In [29]:
lst7 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU', 'FCU', 'FCU') )
txt = input()
if txt in lst7:
    print( f'"{txt}" index is { lst7.index(txt) }' )
else:
    print( f'"{txt}" is not exists in the list')

"CYUT" is not exists in the list

## Change List Items
To change the value of a specific item, refer to the index number

In [31]:
# Change the first and third items:
lst8 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU' ) )
print( lst8 )
print( '--' * 3, ' separate line ', '--' * 3)
lst8[ 0 ] = 'FCU'
lst8[ 2 ] = 'NTU'
print( lst8 )

['NTU', 'NCHU', 'FCU', 'NCKU']
------  separate line  ------
['FCU', 'NCHU', 'NTU', 'NCKU']

In [32]:
# change a range of item values
lst9 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU' ) )
print( lst9 )
print( '--' * 3, ' separate line ', '--' * 3, '\n')
lst9[ 0 : 3 ] = ['FCU', 'NCHU', 'NTU' ]

print( lst9 )

['NTU', 'NCHU', 'FCU', 'NCKU']
------  separate line  ------

['FCU', 'NCHU', 'NTU', 'NCKU']

In [33]:
# Change the first and second values by replacing it with three new values
lst9 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU' ) )
print( lst9 )
print( '--' * 3, ' separate line ', '--' * 3, '\n')
lst9[ 0 : 2 ] = ['FCU', 'NCHU', 'MIT' ]
print( lst9 )

['NTU', 'NCHU', 'FCU', 'NCKU']
------  separate line  ------

['FCU', 'NCHU', 'MIT', 'FCU', 'NCKU']

In [34]:
# Change the first to third values by replacing it with two new values
lst9 = list( ( 'NTU', 'NCHU', 'FCU', 'NCKU' ) )
print( lst9 )
print( '--' * 3, ' separate line ', '--' * 3, '\n')
lst9[ 0 : 3 ] = ['FCU', 'NCHU' ]
print( lst9 )

['NTU', 'NCHU', 'FCU', 'NCKU']
------  separate line  ------

['FCU', 'NCHU', 'NCKU']

### Insert items
- To insert a new list item, without replacing any of the existing values, we can use the insert() method.
- The insert() method inserts an item at the specified index

In [35]:
lst10 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ]
print( lst10, '\n', '- - ' * 6)
lst10.insert( 1, 'MIT' )
print( lst10 )

['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'MIT', 'NCHU', 'FCU', 'NCKU']

請同學，用  while 迴圈 讓使用者持續輸入數字 (整數/浮點數)，直到  -999 結束，
結束後印出 由小到大的元素排列資料

3
9
-1
-8
89
-999

-8 -1 3 9 89


3 10

9

In [37]:
data = []
while True:
    n = int(input())
    if n == -999:
        break
    if len(data) == 0:
        data.append( n )
    else:
        i = 0
        flag = True
        while data[i] < n:
            i += 1
            if i == len(data):
                flag = False
                break
        if flag:
            data.insert( i, n )
        else:
            data.append( n )
    print( data )
#  3 9 11 17

[3]
[3, 9]
[3, 9, 11]
[3, 9, 11, 17]

In [6]:
v1 = float(input())
data = [] 
while v1 != -999:
    flag = True
    for i in data:
        if v1 < i:
            idx = data.index( i )
            data.insert( idx, v1 )
            flag = False
            break
    if flag == True:
        data.append( v1 )
    print(data)
    v1 = float(input())
print("done")

[10.0]
0 10.0
[8.0, 10.0]
0 8.0
[5.0, 8.0, 10.0]
[5.0, 8.0, 10.0, 11.0]
[5.0, 8.0, 10.0, 11.0, 12.0]
0 5.0
[3.0, 5.0, 8.0, 10.0, 11.0, 12.0]
done

In [12]:
data1 = [8.0, 7.5, 3.1, -8, 199]
data1.sort()
data1

[-8, 3.1, 7.5, 8.0, 199]

### Append list item
To add an item to the end of the list, use the   append()   method

In [49]:
lst11 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ]
print( lst11, '\n', '- - ' * 6)
lst11.append( 'MIT' )
print( lst11 )

['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT']

### Extend list
To append elements from another list to the current list, use the extend() method.

In [13]:
lst12 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ]
lst13 = [ 'MIT', 'THU' ]
print( lst12, '\n', '- - ' * 6)
lst12.append( lst13 )
print( lst12 )

['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', ['MIT', 'THU']]

NTU
NCHU
FCU
NCKU
MIT
THU

In [36]:
lst12 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ]
lst13 = [ 'MIT', 'THU' ]
print( lst12, '\n', '- - ' * 6)
lst12.extend( lst13 )
print( lst12 )

['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT', 'THU']

### Add any iterable
The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [38]:
lst14 = [ 'NTU', 'NCHU', 'FCU', 'NCKU' ]
tup1 =  ( 'MIT', 23 )
dict1 = { 'name': 'Jack', 'age': 25 }
print( lst14, '\n', '- - ' * 6)
lst14.extend( tup1 )
print( lst14, '\n', '- - ' * 6)
lst14.extend( dict1 )
print( lst14, '\n', '- - ' * 6)
lst14.extend( dict1.keys() )
print( lst14, '\n', '- - ' * 6)
lst14.extend( dict1.values() )
print( lst14, '\n')

['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT', 23]
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT', 23, 'name', 'age']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT', 23, 'name', 'age', 'name', 'age']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU', 'MIT', 23, 'name', 'age', 'name', 'age', 'Jack', 25]

### Remove list items
The remove() method removes the specified item.

In [13]:
lst15 = [ 'NTU', 'NCHU', 'FCU', 'NCKU', 'NCHU', 'NCHU', 'NCHU' ]
print( lst15, '\n', '- - ' * 6)
lst15.remove( 'NCHU' )
print( lst15, '\n', '- - ' * 6)

['NTU', 'NCHU', 'FCU', 'NCKU', 'NCHU', 'NCHU', 'NCHU']
 - - - - - - - - - - - -
['NTU', 'FCU', 'NCKU', 'NCHU', 'NCHU', 'NCHU']
 - - - - - - - - - - - -

### Remove Specified index
The pop() method removes the specified index.

In [39]:
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( lst16, '\n', '- - ' * 6)
lst16.pop(  )
print( lst16, '\n', '- - ' * 6)

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'MIT', 'FCU']
 - - - - - - - - - - - -

In [61]:
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( lst16, '\n', '- - ' * 6)
lst16.pop( 2 )
print( lst16, '\n', '- - ' * 6)

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -

In [40]:
# Using   del   to remove an item from the list
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( lst16, '\n', '- - ' * 6)
del lst16[ 2 ] # delete 
print( lst16, '\n', '- - ' * 6)

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
 - - - - - - - - - - - -
['NTU', 'NCHU', 'FCU', 'NCKU']
 - - - - - - - - - - - -

In [41]:
# Using   del   to completely delete the list
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( lst16, '\n', '- - ' * 6)
del lst16
print( lst16, '\n', '- - ' * 6)

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
 - - - - - - - - - - - -

NameError: name 'lst16' is not defined

### Clear the list
- The clear() method empties the list.
- The list still remains, but it has no content.

In [65]:
lst16 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
print( lst16, '\n', '- - ' * 6)
lst16.clear()
print( lst16, '\n', '- - ' * 6)

['NTU', 'NCHU', 'MIT', 'FCU', 'NCKU']
 - - - - - - - - - - - -
[]
 - - - - - - - - - - - -

### Looping using list comprehension
A short hand for loop that will print all items in a list:

In [7]:
lst17 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
# for item in lst17:
#     print( item )
[ print( item ) for item in lst17 ]

NTU
NCHU
MIT
FCU
NCKU

[None, None, None, None, None]

## List comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [44]:
# original 
lst17 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst18 = []

for item in lst17:
    if 'C' in item:
        lst18.append( item )

print( lst18 )

['NCHU', 'FCU', 'NCKU']

In [14]:
# using List comprehension
lst17 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst18 = [ item for item in lst17 if 'C' in item ]

print( lst18 )

['NCHU', 'FCU', 'NCKU']

In [78]:
# using List comprehension to generate a list contain value from 1 to 8 
lst19 = [ x for x in range(1, 9) ]
print( lst19 )

[1, 2, 3, 4, 5, 6, 7, 8]

### Expression
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [79]:
lst20 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst21 = [ item.lower() for item in lst20 ]
print( lst21 )

['ntu', 'nchu', 'mit', 'fcu', 'ncku']

In [83]:
# choose item NOT contains 'N' character and make the item as lower case
lst20 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst21 = [ item.lower() for item in lst20 if 'N' not in item]
print( lst21 )

['mit', 'fcu']

In [81]:
# if the item didn't contain N character then make item as lower case
lst20 = [ 'NTU', 'NCHU', 'MIT', 'FCU', 'NCKU' ]
lst21 = [ item.lower()if 'N' not in item else item for item in lst20 ]
print( lst21 )

['NTU', 'NCHU', 'mit', 'fcu', 'NCKU']

## Sort lists
List objects have a sort() method that will sort the list alphanumerically, ascending, by default

In [46]:
lst22 = [ 8, 9, 22, 13, 134, -9 ]
print( lst22, '\n', '- - ' * 6)
lst22.sort() # ascending
print( lst22, '\n', '- - ' * 6)
lst22.sort( reverse=True)  # Descending
print( lst22 )

[8, 9, 22, 13, 134, -9]
 - - - - - - - - - - - -
[-9, 8, 9, 13, 22, 134]
 - - - - - - - - - - - -
[134, 22, 13, 9, 8, -9]

In [47]:
lst23 = ["orange", "mango", "kiwi", "pineapple", "banana", 'water melon']
print( lst23, '\n', '- - ' * 6)
lst23.sort()
print( lst23, '\n', '- - ' * 6)
lst23.sort( reverse=True )
print( lst23 )

['orange', 'mango', 'kiwi', 'pineapple', 'banana', 'water melon']
 - - - - - - - - - - - -
['banana', 'kiwi', 'mango', 'orange', 'pineapple', 'water melon']
 - - - - - - - - - - - -
['water melon', 'pineapple', 'orange', 'mango', 'kiwi', 'banana']

## Customize Sort Function
- You can also customize your own function by using the keyword argument key = function.
- The function will return a number that will be used to sort the list (the lowest number first)

In [92]:
def fun1( v1 ):
    return v1.upper()

lst24 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( lst24, '\n', '- - ' * 6)
lst24.sort( )
print( lst24, '\n', '- - ' * 6)
lst24.sort( key=fun1 )
print( lst24 )

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['Apple', 'Mango', 'Pineapple', 'banana', 'kiwi', 'orange', 'water melon']
 - - - - - - - - - - - -
['Apple', 'banana', 'kiwi', 'Mango', 'orange', 'Pineapple', 'water melon']

### Case Insensitive sort
By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters

In [49]:
lst25 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( lst25, '\n', '- - ' * 6)
lst25.sort( )
print( lst25, '\n', '- - ' * 6)
lst25.sort( key=str.upper )
print( lst25 )

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['Apple', 'Mango', 'Pineapple', 'banana', 'kiwi', 'orange', 'water melon']
 - - - - - - - - - - - -
['Apple', 'banana', 'kiwi', 'Mango', 'orange', 'Pineapple', 'water melon']

### Reverser Order
- The reverse() method reverses the current sorting order of the elements.

In [1]:
lst26 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( lst26, '\n', '- - ' * 6)
lst26.reverse()
print( lst26 )

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['Apple', 'water melon', 'banana', 'Pineapple', 'kiwi', 'Mango', 'orange']

## Copy Lists
- You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.
- There are ways to make a copy, one way is to use the built-in List method copy().

In [4]:
lst27 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
testLst = lst27 
print(lst27)
print(testLst)
testLst[0] = 'Jack'
print(lst27)
print(testLst)

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
['Jack', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
['Jack', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']

In [5]:
lst27 = ["orange", "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( lst27, '\n', '- - ' * 6)
lst28 = lst27.copy()
print( lst28,  '\n', '- - ' * 6 )
lst28[1] = 'Mango_1'
print( lst27, '\n', '- - ' * 6)
print( lst28)

['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['orange', 'Mango', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']
 - - - - - - - - - - - -
['orange', 'Mango_1', 'kiwi', 'Pineapple', 'banana', 'water melon', 'Apple']

## Join Lists
- There are several ways to join, or concatenate, two or more lists in Python.
- One of the easiest ways are by using the + operator.

In [56]:
lst29 = [ 'x', 'y', 'z' ]
print( lst29 , '\n', '- - ' * 6)

lst30 = [ 21, 24, 15 ]
print( lst30 , '\n', '- - ' * 6)

lst31 = lst29 + lst30
print( lst31, '\n', '- - ' * 6 )
lst31[ 1 ] = 'S'
print( lst29, '\n', '- - ' * 6 )
print( lst30, '\n', '- - ' * 6 )
print( lst31, '\n', '- - ' * 6 )

['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z', 21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'S', 'z', 21, 24, 15]
 - - - - - - - - - - - -

In [6]:
lst29 = [ 'x', 'y', 'z' ]
print( lst29 , '\n', '- - ' * 6)

lst30 = [ 21, 24, 15 ]
print( lst30 , '\n', '- - ' * 6)

lst29.append( lst30 )
print( lst29 )

['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z', [21, 24, 15]]

In [8]:
lst29 = [ 'x', 'y', 'z' ]
print( lst29 , '\n', '- - ' * 6)

lst30 = [ 21, 24, 15 ]
print( lst30 , '\n', '- - ' * 6)

for item in lst30:
    lst29.append( item )
    
print( lst29 )

['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z', 21, 24, 15]

In [57]:
lst29 = [ 'x', 'y', 'z' ]
print( lst29 , '\n', '- - ' * 6)

lst30 = [ 21, 24, 15 ]
print( lst30 , '\n', '- - ' * 6)

lst29.extend( lst30 )
print( lst29 )

['x', 'y', 'z']
 - - - - - - - - - - - -
[21, 24, 15]
 - - - - - - - - - - - -
['x', 'y', 'z', 21, 24, 15]

### count() function
Returns the number of elements with the specified value

In [61]:
lst32 = ['Apple', "orange", 'Apple', "Mango", "kiwi", "Pineapple", "banana", 'water melon', 'Apple']
print( len( lst32 ))
print( lst32.count( 'Apple' ))

9
3

## zip()
- The `zip()` function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.
- If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [8]:
lst33 = [ 1, 2, 3]
lst34 = [ 'a', 'b', 'c']
lst35 = [ 'x', 'y', 'z']
x = zip( lst33, lst34, lst35 )
for y, z, r in x:
    print( y, z, r )

1 a x
2 b y
3 c z