# Tuple 元組

In [4]:
tup1 = ()
print( type(tup1) )

<class 'tuple'>

#### single item tuple

In [5]:
tup2 = ( 'TOYOTA', )
tup2

('TOYOTA',)

In [2]:
tup2 = ( 'TOYOTA' )
type( tup2 )

str

In [6]:
tup3 = ( 'TOYOTA' )
print( tup3, type(tup3) )

TOYOTA <class 'str'>

In [7]:
tup3 = tuple( 'NISSAN' )
print( tup3, type(tup3) )

('N', 'I', 'S', 'S', 'A', 'N') <class 'tuple'>

In [10]:
tup3 = tuple( ('NISSAN', ) )
print( tup3, type(tup3) )

('NISSAN',) <class 'tuple'>

#### item order in a tuple

In [12]:
tup4 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
print( tup4[0], tup4[ -2 ], sep='\t\t')
print( tup4[0], tup4[ len( tup4 ) - 1 ], sep='\t\t')

TOYOTA		AUDI
TOYOTA		BENZ

In [13]:
tup4 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
for item in tup4:
    print( item, end='\t\t')
print( '\nDone' )

TOYOTA		NISSAN		AUDI		BENZ
Done

In [14]:
tup4 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
for idx, item in enumerate( tup4 ):
    print( idx, item )

0 TOYOTA
1 NISSAN
2 AUDI
3 BENZ

#### item in a tuple is unchangeable

In [3]:
tup5 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
for idx, item in enumerate( tup5 ):
    print( idx, item )
tup5[ 0 ] = 'BMW'
for idx, item in enumerate( tup5 ):
    print( idx, item )

0 TOYOTA
1 NISSAN
2 AUDI
3 BENZ

TypeError: 'tuple' object does not support item assignment

#### item order in tuple is Unchangeable

In [16]:
tup5 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
for idx, item in enumerate( tup5 ):
    print( idx, item )
print( '-*-' * 10 )
tmp = tup5[ -1 ]
tup5[-1] = tup5[ 0 ]
tup5[ 0 ] = tmp
for idx, item in enumerate( tup5 ):
    print( idx, item )

0 TOYOTA
1 NISSAN
2 AUDI
3 BENZ
-*--*--*--*--*--*--*--*--*--*-

TypeError: 'tuple' object does not support item assignment

#### item duplicate is allowed

In [17]:
tup6 = ( 'Taiwan', 'Taichung', 'Taipei', 'Japan', 'KR', 'Taichung', 'Taiwan')
for idx, item in enumerate( tup6 ):
    print( idx, item )

0 Taiwan
1 Taichung
2 Taipei
3 Japan
4 KR
5 Taichung
6 Taiwan

In [1]:
tup6 = ( 'Taiwan', 'Taichung', 'Taipei', 'Japan', 'KR', 'Taichung', 'Taiwan')
if 'Taiwan' in tup6:
    print( '^_^' )
else:
    print( '>_<' )

^_^

#### Update item value in a tuple
- it can't update item value in tuple directory
- the tuple must transform as a list then update the value in the list and to convert back the modified list to tuple

##### Add new item into a tuple

In [22]:
tup7 = ( 'Apple', 'ASUS', 'HP', 'DELL', 'ACER' )
for idx, item in enumerate( tup7 ):
    print( idx, item )
print( '---' * 5 )
tmpList = list( tup7 )
tmpList.append( 'SONY' )
tup7 = tuple( tmpList )
for idx, item in enumerate( tup7 ):
    print( idx, item )

0 Apple
1 ASUS
2 HP
3 DELL
4 ACER
---------------
0 Apple
1 ASUS
2 HP
3 DELL
4 ACER
5 SONY

##### Add a tuple to an existed tuple

In [24]:
tup7 = ( 'Apple', 'ASUS', 'HP', 'DELL', 'ACER' )
for idx, item in enumerate( tup7 ):
    print( idx, item )
print( '---' * 5 )

tmpList = list( tup7 )
tmpList.append( ('SONY', 'Gigabyte', 'MIS' ) )
tup7 = tuple( tmpList )
for idx, item in enumerate( tup7 ):
    print( idx, item )
print( '=^=' * 5 )

for idx, item in enumerate( tup7[-1] ):
    print( idx, item )

del tup7

0 Apple
1 ASUS
2 HP
3 DELL
4 ACER
---------------
0 Apple
1 ASUS
2 HP
3 DELL
4 ACER
5 ('SONY', 'Gigabyte', 'MIS')
=^==^==^==^==^=
0 SONY
1 Gigabyte
2 MIS

##### Remove item from a tuple

In [25]:
tup8 = tuple( ('TW', 'US', 'KR', 'CN', 'US', 'RU', 'TW', 'KR'))
for idx, item in enumerate( tup8 ):
    print( idx, item )
print( '---' * 5 )
tmpList = list( tup8 )
tmpList.remove( 'TW' )
tup8 = tuple( tmpList )
for idx, item in enumerate( tup8 ):
    print( idx, item )
print( '---' * 5 )

0 TW
1 US
2 KR
3 CN
4 US
5 RU
6 TW
7 KR
---------------
0 US
1 KR
2 CN
3 US
4 RU
5 TW
6 KR
---------------

##### Unpack tuples

In [6]:
tup8 = tuple( ('TW', 'US', 'KR', 'CN'))
( tw1, us1, kr1, cn1 ) = tup8
print( tw1, us1, kr1, cn1, sep='\n')

TW
US
KR
CN

##### Tuple methods

In [4]:
tup9 = ( 'FCU', 'NCHU', 'NTU' )
tup9.index( 'NTU' )

2

In [30]:
tup9 = ( 'NTU', 'FCU', 'NCHU', 'NTU' )
print( len(tup9), tup9.count( 'NTU' ) )

4 2

##### Join Tuples and Multiply Tuples

In [8]:
tup10 = ( 'JP', 'TW', 'KR', 'VN' )
tup11 = tuple( ('US', 'UK'))
tup12 = tup10 + tup11
for idx, item in enumerate( tup12 ):
    print( idx, item )
print( '---' * 5 )

# -------  multiply tuples   ------------
tup13 = tup10 * 2
for idx, item in enumerate( tup13 ):
    print( idx, item )

0 JP
1 TW
2 KR
3 VN
4 US
5 UK
---------------
0 JP
1 TW
2 KR
3 VN
4 JP
5 TW
6 KR
7 VN