# Tuple 元組
- 在 Python 中，**Tuple（元組）** 是一種不可變的序列類型，意思是元組一旦建立後，就無法更改其元素，無法新增、刪除或修改。元組與列表（list）相似，但主要用於儲存不可改變的數據。

### Tuple 的主要特點：
1. **不可變（Immutable）**：元組一旦建立，內容就無法更改。這種不可變性有助於程式的穩定性，適合用來存放不會變動的資料。
2. **有序（Ordered）**：元組中的元素是有序的，順序不會改變。
3. **使用小括號定義**：元組使用小括號 `()` 定義，並用逗號分隔元素，例如：`my_tuple = (1, 2, 3)`。
4. **支持多種數據類型**：元組可以包含不同類型的數據，例如 `mixed_tuple = (1, "apple", 3.14)`。

### 為什麼使用元組？
- **數據完整性**：由於元組不可變，因此可以保證數據在程式運行過程中不會被意外更改。
- **記憶體效率**：元組通常比列表更省記憶體，在某些情況下執行速度會更快。
- **字典的 key**：元組可以用作字典的鍵（因為它們是不可變的），而列表不能。

- Python 中的元組(`tuple`)適合用於儲存`固定不變的資料`，比如設定 **檔案**、**座標點**、或其他不應更改的資訊。

In [4]:
tup1 = ()
print( type(tup1) )

<class 'tuple'>

#### single item tuple

In [2]:
tup2 = ( 'TOYOTA', )
print( f"tup2: {tup2}")

tup2: ('TOYOTA',)

使用 `('TOYOTA')`建立 tuple 物件時只給一個字串且在字串後沒有加 `,` 符號，則 tuple 不會被建立，只會是一個 `str` (字串物件)

In [1]:
tup2 = ( 'TOYOTA' )
print( f"type of tup2: {type( tup2 )}")
print( f"tup2: {tup2}")

type of tup2: <class 'str'>
tup2: TOYOTA

使用 Tuple 類別的建構元 `tuple()` 建立 `tuple` 物件時，輸入如果是一個字串，則字串的每一個字母都會變成是新建 `tuple` 裡的元素

In [3]:
tup3 = tuple( 'NISSAN', )
print( tup3, type(tup3) )

('N', 'I', 'S', 'S', 'A', 'N') <class 'tuple'>

解決使用 `tuple()` 建構元建立一個只有一個字串物件的 `tuple`，作法是在 `tuple()` 裡再用 `()` 符號將要建立的字串資料傳給 `tuple()` 建構元去建立物件

In [5]:
tup3 = tuple( ('NISSAN' ) )
print( f"tup3: {tup3}, type(tup3): {type(tup3)}" )

tup4 = tuple( ('SUZUKI', ) )
print( f"tup4: {tup4}, type(tup4): {type(tup4)}" )

tup3: ('N', 'I', 'S', 'S', 'A', 'N'), type(tup3): <class 'tuple'>
tup4: ('SUZUKI',), type(tup4): <class 'tuple'>

#### item order in a tuple

In [12]:
tup4 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
print( tup4[0], tup4[ -2 ], sep='\t\t')
print( tup4[0], tup4[ len( tup4 ) - 1 ], sep='\t\t')

TOYOTA		AUDI
TOYOTA		BENZ

In [13]:
tup4 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
for item in tup4:
    print( item, end='\t\t')
print( '\nDone' )

TOYOTA		NISSAN		AUDI		BENZ
Done

#### 使用 `enumerate()` 回傳 `tuple` 物件裡`元素`與`索引`

在 Python 中，`enumerate()` 函數的作用是為一個可迭代對象（如列表、元組或字串）增加一個計數器，並返回一個 `enumerate` 對象，這個對象可以被轉換為包含索引和值的元組列表，或者直接用於迴圈中。當您在 `for` 迴圈中同時需要元素的索引和內容時，這個函數特別有用。

### 語法
```python
enumerate(iterable, start=0)
```

- **iterable**：任何可迭代對象（例如列表、元組或字串）。
- **start**：計數開始的索引（默認為 `0`）。

### 主要功能
- 為每個可迭代對象的元素添加索引。
- 通常在需要同時取得索引和元素的迴圈中使用。
- 返回的 `enumerate` 對象可以直接在 `for` 迴圈中使用，也可以轉換成列表來查看。

### 使用範例
1. **基本使用範例**：
   ```python
   fruits = ['apple', 'banana', 'cherry']
   for index, fruit in enumerate(fruits):
       print(index, fruit)
   ```
   **輸出**：
   ```
   0 apple
   1 banana
   2 cherry
   ```

2. **自訂開始索引**：
   ```python
   fruits = ['apple', 'banana', 'cherry']
   for index, fruit in enumerate(fruits, start=1):
       print(index, fruit)
   ```
   **輸出**：
   ```
   1 apple
   2 banana
   3 cherry
   ```

3. **轉換為列表**：
   ```python
   fruits = ['apple', 'banana', 'cherry']
   print(list(enumerate(fruits)))
   ```
   **輸出**：
   ```
   [(0, 'apple'), (1, 'banana'), (2, 'cherry')]
   ```

### 使用場景
- 當遍歷可迭代對象時，如果需要索引位置時非常有用。
- 有助於除錯或統計元素。
- 可以根據索引修改特定位置的元素。

In [8]:
tup4 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
for idx, item in enumerate( tup4 ):
    print( idx, item )

0 TOYOTA
1 NISSAN
2 AUDI
3 BENZ

In [9]:
tup4 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
for idx, item in enumerate( tup4, start=1 ):
    print( idx, item )

1 TOYOTA
2 NISSAN
3 AUDI
4 BENZ

#### item in a tuple is unchangeable

In [10]:
tup5 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
for idx, item in enumerate( tup5 ):
    print( idx, item )
tup5[ 0 ] = 'BMW'
for idx, item in enumerate( tup5 ):
    print( idx, item )

0 TOYOTA
1 NISSAN
2 AUDI
3 BENZ

TypeError: 'tuple' object does not support item assignment

#### item order in tuple is Unchangeable

In [11]:
tup5 = ( 'TOYOTA', 'NISSAN', 'AUDI', 'BENZ' )
for idx, item in enumerate( tup5 ):
    print( idx, item )
print( '-*-' * 10 )
tup5[ 0 ], tup5[ 2 ] = tup5[ 2 ], tup5[ 0 ]
for idx, item in enumerate( tup5 ):
    print( idx, item )

0 TOYOTA
1 NISSAN
2 AUDI
3 BENZ
-*--*--*--*--*--*--*--*--*--*-

TypeError: 'tuple' object does not support item assignment

#### item duplicate is allowed

In [17]:
tup6 = ( 'Taiwan', 'Taichung', 'Taipei', 'Japan', 'KR', 'Taichung', 'Taiwan')
for idx, item in enumerate( tup6 ):
    print( idx, item )

0 Taiwan
1 Taichung
2 Taipei
3 Japan
4 KR
5 Taichung
6 Taiwan

#### Update item value in a tuple
- 無法在元組中更新項目值。
- 必須將元組轉換為列表，然後在列表中更新值，並將修改後的列表轉回元組。

##### Add new item into a tuple

In [22]:
tup7 = ( 'Apple', 'ASUS', 'HP', 'DELL', 'ACER' )
for idx, item in enumerate( tup7 ):
    print( idx, item )
print( '---' * 5 )
tmpList = list( tup7 )
tmpList.append( 'SONY' )
tup7 = tuple( tmpList )
for idx, item in enumerate( tup7 ):
    print( idx, item )

0 Apple
1 ASUS
2 HP
3 DELL
4 ACER
---------------
0 Apple
1 ASUS
2 HP
3 DELL
4 ACER
5 SONY

##### Add a tuple to an existed tuple

In [24]:
tup7 = ( 'Apple', 'ASUS', 'HP', 'DELL', 'ACER' )
for idx, item in enumerate( tup7 ):
    print( idx, item )
print( '---' * 5 )

tmpList = list( tup7 )
tmpList.append( ('SONY', 'Gigabyte', 'MIS' ) )
tup7 = tuple( tmpList )
for idx, item in enumerate( tup7 ):
    print( idx, item )
print( '=^=' * 5 )

for idx, item in enumerate( tup7[-1] ):
    print( idx, item )

del tup7

0 Apple
1 ASUS
2 HP
3 DELL
4 ACER
---------------
0 Apple
1 ASUS
2 HP
3 DELL
4 ACER
5 ('SONY', 'Gigabyte', 'MIS')
=^==^==^==^==^=
0 SONY
1 Gigabyte
2 MIS

##### Remove item from a tuple

In [25]:
tup8 = tuple( ('TW', 'US', 'KR', 'CN', 'US', 'RU', 'TW', 'KR'))
for idx, item in enumerate( tup8 ):
    print( idx, item )
print( '---' * 5 )
tmpList = list( tup8 )
tmpList.remove( 'TW' )
tup8 = tuple( tmpList )
for idx, item in enumerate( tup8 ):
    print( idx, item )
print( '---' * 5 )

0 TW
1 US
2 KR
3 CN
4 US
5 RU
6 TW
7 KR
---------------
0 US
1 KR
2 CN
3 US
4 RU
5 TW
6 KR
---------------

##### Unpack tuples

In [6]:
tup8 = tuple( ('TW', 'US', 'KR', 'CN'))
( tw1, us1, kr1, cn1 ) = tup8
print( tw1, us1, kr1, cn1, sep='\n')

TW
US
KR
CN

##### Tuple methods

In [4]:
tup9 = ( 'FCU', 'NCHU', 'NTU' )
tup9.index( 'NTU' )

2

In [30]:
tup9 = ( 'NTU', 'FCU', 'NCHU', 'NTU' )
print( len(tup9), tup9.count( 'NTU' ) )

4 2

##### Join Tuples and Multiply Tuples

In [8]:
tup10 = ( 'JP', 'TW', 'KR', 'VN' )
tup11 = tuple( ('US', 'UK'))
tup12 = tup10 + tup11
for idx, item in enumerate( tup12 ):
    print( idx, item )
print( '---' * 5 )

# -------  multiply tuples   ------------
tup13 = tup10 * 2
for idx, item in enumerate( tup13 ):
    print( idx, item )

0 JP
1 TW
2 KR
3 VN
4 US
5 UK
---------------
0 JP
1 TW
2 KR
3 VN
4 JP
5 TW
6 KR
7 VN